In [1]:
import pandas as pd

In [2]:
sample_data = {
    'name': ['John', 'Alia', 'Ananya', 'Steve', 'Ben'],
    'age': [24, 22, 23, 25, 28],  
    'communication_skill_score': [85, 70, 75, 90, 90],
    'quantitative_skill_score': [80, 90, 80, 75, 70]
}

In [3]:
df = pd.DataFrame(sample_data)
df.corr(numeric_only=True)

,age,communication_skill_score,quantitative_skill_score
age,1.000000,0.848855,-0.922489
communication_skill_score,0.848855,1.000000,-0.890724
quantitative_skill_score,-0.922489,-0.890724,1.000000

#### Covariance

In [4]:
df.cov(numeric_only=True)

,age,communication_skill_score,quantitative_skill_score
age,5.30,17.75,-15.75
communication_skill_score,17.75,82.50,-60.00
quantitative_skill_score,-15.75,-60.00,55.00