#### Create a DataFrame df from the dictionary data with index labels:

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

#### Display a summary of the basic information about this DataFrame and its data

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

#### Return the first 3 rows of the DataFrame df

In [5]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

#### Select just the ‘animal’ and ‘age’ columns from the DataFrame df

In [6]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### Select the data in rows [3, 4, 8] and in columns ['animal', 'age']

In [7]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

#### Select only the rows where the number of visits is greater than 3

In [8]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

#### Select the rows where the age is missing, i.e., it is NaN

In [9]:
df[df['age'].isna()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

#### Select the rows where the animal is a cat and the age is less than 3

In [ ]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

#### Select the rows where the age is between 2 and 4 (inclusive)

In [ ]:
df[df['age'].between(2, 4)]

#### Change the age in row ‘f’ to 1.5

In [ ]:
df.at['f', 'age'] = 1.5

#### Calculate the sum of all visits in df

In [ ]:
df['visits'].sum()

#### Calculate the mean age for each different animal in df

In [ ]:
df.groupby('animal')['age'].mean()

#### Append a new row ‘k’ to df with your choice of values for each column, then delete that row to return the original DataFrame

In [ ]:
df.loc['k'] = ['dog', 5.5, 2, 'no']
df = df.drop('k')

#### Count the number of each type of animal in df

In [ ]:
df['animal'].value_counts()

#### Sort df first by the values in the ‘age’ in descending order, then by the value in the ‘visits’ column in ascending order

In [ ]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

#### Replace the ‘priority’ column with boolean values (‘yes’ should be True and ‘no’ should be False)

In [ ]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

#### In the ‘animal’ column, change the ‘snake’ entries to ‘python’

In [ ]:
df['animal'] = df['animal'].replace('snake', 'python')

#### For each animal type and each number of visits, find the mean age

In [ ]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')